<ion-header no-border>
  <ion-toolbar style="--background: rgb(37, 107, 107) ;">
    <ion-row>
      <ion-col size="3">
        <ion-header no-border>
          <ion-toolbar class="new-background-color" style="--background: rgb(37, 107, 107) ;">
            <ion-buttons slot="start">
              <ion-back-button color="light" defaultHref="store" icon="ios-arrow-back"></ion-back-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
      </ion-col>
      <ion-col size="8" style="margin-top: 4px;">
        <ion-title text-center style="margin-top: 15px;color: white;"></ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; padding-top: 50px;">
    <img src="https://www.itambition.com/images/logo/logo.png" width="150px" />
  </div>
  <div style="background-image: url(http://itambition.com/images/germany-flag2.png);
  background-position: inherit;
  background-size: cover  ;
  text-align: center;
  padding: 50px;
  ">
    <h2>IT Ambition</h2>
    <p style="font-size: 18px;">IT Ambition is your gateway to offshore your IT services overseas. We help our customers
      extend thier capability and win the competition. We mainly offshore the IT services from Germany and Europe to
      Egypt and Indian .IT ambition is founded in 2018. Its Head office is in Egypt and we have onsite teams in Germany
      and Indian.</p>
      <p>Visit us and take a look over our products</p>
      <ion-button href="http://itambition.com" expand="block" size="medium"  class="ion-no-margin"
          style="--background: rgb(37, 107, 107) ;">Visit</ion-button>
  </div>
  <!-- <p>MediAt app provides the best service in Canada ensuring pharmacy door delivery of your medicine safely. Patient can order medicine online  and in few steps can have it delivered accurately by the nearest pharmacy.</p> -->
</ion-content>