ion-toolbar{
    --ion-background-color: #19271f;
}

ion-content{
    --ion-background-color: rgba(147, 247, 217, 0.479)
}

ion-item{
    --ion-background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    margin-bottom: 10px;
}