<ion-header no-border>
  <ion-toolbar style="--background: rgb(37, 107, 107) ;">
    <ion-row>
      <ion-col size="3">
        <ion-header no-border>
          <ion-toolbar class="new-background-color" style="--background: rgb(37, 107, 107) ;">
            <ion-buttons slot="start">
              <ion-back-button color="light" defaultHref="login" icon="ios-arrow-back"></ion-back-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
      </ion-col>
      <ion-col size="8" style="margin-top: 4px;">
        <ion-title text-center style="margin-top: 15px;color: white;"></ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="customScroll" >
  <ion-grid class="aligncenter">
    <ion-row justify-content-center class="flexDiv" style="padding-top: 100px;">
      <ion-col  align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding class="loginDiv">
          <ion-item>
            <ion-label position="stacked" color="medium">Please type your Email</ion-label>
            <ion-input autofocus='true'></ion-input>
          </ion-item>
         <p style="color: red; text-align: center;">**Email may have some delay,<br>Please be patient. Thank You</p>
        </div>
      
        <div padding>
          <ion-button size="large" style="--background: rgb(37, 107, 107) ;" type="submit" class="ion-no-margin"
           routerLink="/store"  expand="block">Submit</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>