<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end" collapse="true" class="badgeard" (click)="myCart()">
      <ion-badge slot="end" *ngIf="badgeValue != 0">{{badgeValue}}</ion-badge>
      <ion-icon name="md-cart"></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="start" collapse="true" class="badgeard">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="store" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Search request</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Animated Searchbar -->
  <ion-searchbar animated class="searchDiv" [(ngModel)]="searchQuery" ionClear="cancel()" [showCancelButton]="true"
    (keyup.enter)="search(searchQuery)"></ion-searchbar>
  <ion-item *ngFor="let product of products" class="viewcard" (click)="openDetailsWithState(product)">
    <ion-thumbnail slot="start">
      <img [src]=product.image_url alt="product" class="p-store-list-img" (load)="loaded = true"
        [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" *ngIf="product.image_url" />
      <ion-spinner name="lines" [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>
    </ion-thumbnail>
    <ion-label>
      <h2>{{product.name}}</h2>
      <p>
        <!-- <ion-icon name="logo-euro"></ion-icon>   -->
        CAD {{product.price}}</p>
    </ion-label>
    <button style="margin-right: 5px;" class="selectbtn" (click)="openDetailsWithState(product)">
      <ion-icon name="eye"></ion-icon>
    </button>
    <button class="selectbtn" [ngClass]="selectbtnGreen" (click)="selectProducts(product)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-item>
  <ion-title *ngIf="itemsCount == 0" text-center>No results found.</ion-title>

</ion-content>
<!-- <ion-footer *ngIf="badgeValue != 0">
  <ion-grid class="footer-next-btn">
    <ion-button expand="full" color="secondary" size="medium" (click)="myCart()">Next</ion-button>
  </ion-grid>
</ion-footer> -->