ion-toolbar{
    --ion-background-color: #19271f;
}

ion-content{
    --ion-background-color:rgba(147, 247, 217, 0.479) ;

}

ion-item{
    --background: rgba(255, 255, 255, 0.548);
    border-radius: 20px;
    margin-bottom: 10px;
}